<footer class="footer">
        <div class="container footer-info">
            <p>
                Connect with me:<br>
                <a href="https://github.com/armac7">GitHub</a><br>
                <a href="https://www.linkedin.com/in/wrmcd/">LinkedIn</a><br>
                <a href="mailto:w.mcd0320@gmail.com">Email</a>
            </p>
        </div>
        <div class="container footer-info">
            <p>
                Soli Deo Gloria.<br>
                “In all your ways acknowledge Him.” — Prov. 3:6<br>
                Built to create, serve, and glorify God.<br>
                © 2025 Ryan McDonald — Catholic developer & creator.
                All rights reserved.
            </p>
        </div>
</footer>